.modal-content {
    position: relative;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid transparent;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px transparent;
    box-shadow: 0 3px 9px transparent;
}
.divider-vertical{
   height: 50px;
   width: 1px;
   margin: 10px 0px;
   background-color: #000;
   border-right: 2px solid #000;
}

.header-back{
    background: #000;
    border: 6px  solid #000;
    border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}

.back{
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(157,157,157,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(157,157,157,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(157,157,157,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#9d9d9d',GradientType=0 ); /* IE6-9 */

}
.back1{
  background: #161616;  
}
.modal-tama{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;

}
.back2{
    background: #fff;
}
.back3{
    background: #000;
}
.back4{
    background: #4d4c4c;
}
.back5{
    background: #bebebe;
}
.col-xs-1{
    padding: 0 !important;
}
.lista{
    padding-top: 80px;
    padding-bottom: 60px;
}
.text{
    color: #fff;
    margin-top: 60px;
}
.text1{
    color: #fff;
    padding-top: 25px;
    font-size: 20px;
    
}
.text2{
    color: #e30000;
    padding-top: 25px;
}

.nav1{
    list-style: none;
        padding-left: 0;
    margin-bottom: 0;
}
.nav1>li>a:hover,
.nav1>li>a:focus{
background: #fff;
color: #231f20;
}

.nav1>li>a:active:before {
background: #fff;
color: #231f20;
}
.nav1>li>a {
    position: relative;
    display: block;
    padding: 10px 0px;
    text-decoration: none;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.menu{
    color: #fff;
}
.menu1{
    color: #231f20;
}
.img{
    width: 100%;
}